<header class="header p-4 text-center">
  <div class="row align-items-center">
    <div class="col-md-6 text-left">
      <h1>
        Peludo's <br />
        Pet Shop
      </h1>
      <div class="header-divider mt-5"></div>
      <p class="subtitle mt-3 mb-3">
        PRODUTOS E SERVIÇOS <br />
        PARA ANIMAIS DE PEQUENO E GRANDE PORTE
      </p>
      <div class="header-divider"></div>
      <nav class="nav-buttons mt-4 text-left mt-5">
        <div class="d-flex flex-column flex-md-row justify-content-between">
          <button class="btn btn-custom w-100 mb-2 mb-md-0 mx-md-2" data-page="products.html">PRODUTOS</button>
          <button class="btn btn-custom w-100 mb-2 mb-md-0 mx-md-2" data-page="services.html">SERVIÇOS</button>
          <button class="btn btn-custom w-100 mb-2 mb-md-0 mx-md-2" data-page="register.html">CADASTRO</button>
        </div>
      </nav>
    </div>

    <div class="col-md-6 text-right d-flex flex-column align-header-items">
      <div class="dog-illustration">
        <img src="images/dog.png" alt="Dog" class="img-fluid dog-image" />
      </div>
      <div class="icons-right d-flex justify-content-end mb-3 mt-3">
        <a href="#" class="mr-3 d-flex flex-column align-items-center">
          <i class="fas fa-paw icon"></i>
          <p class="icon-text">PERFIL</p>
        </a>
        <a href="#" class="d-flex flex-column align-items-center">
          <i class="fas fa-shopping-cart icon"></i>
          <p class="icon-text">CARRINHO</p>
        </a>
      </div>
    </div>
  </div>
</header>
